/* Цвет основного текста background: #757575; */
/* Вторичный цвет текста background: #212121; */
/* акцент background: #2196F3; */
/* основной цвет фона background: #FFFFFF; */
/* вторичный цвет фона footer main  background: #2F303A; */
/* третичный цвет фона background: #F5F4FA; */
/* заливка иконок #AFB1B8; */

:root {
    --primary-text-color: #757575;
    --title-tex-color: #212121;
    --logo-text-color: #000000;
    --accent-color: #2196F3;
    --primary-bcg-color: #FFFFFF;
    --secondary-bcg-color: #2F303A;
    --tertiary-bck-color: #F5F4FA;
    --icon-fill-color: #AFB1B8;
}

body {
    background-color: var(--primary-bcg-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

/* Утилиты */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-title {
    margin-top: 0;
    margin-bottom: 50px;

    color: var(--title-tex-color);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

/* Container */

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 4px solid indigo; */
}

/* header */
.header-main {
    border-bottom: 1px solid #ECECEC;
}

.header-nav {
    display: flex;
    align-items: center;

}

/* Logo */

.logo {
    color: var(--logo-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo .accent {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

/* Navigation */
.nav-list {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav .link,
.site-cont .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--logo-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

/* Contacts */

.contact-header {
    display: flex;
    margin-left: auto;
}

.contact-header .item:not(:last-child) {
    margin-right: 50px;
}

.contact.link {
    display: flex;
    align-items: center;

    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contact-mail {
    display: flex;
    height: 12px;
    width: 16px;
    margin-right: 10px;
    fill: currentColor;
}

.contact-phone {
    display: flex;
    height: 16px;
    width: 10px;
    margin-right: 10px;
    fill: currentColor;
}

.contact-header .contact {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
}

.contact.link:hover,
.contact.link:focus {
    color: var(--accent-color);
}

/* Main index.html */

/* Шапка */

.hero {
    display: flex;
    flex-direction: column;

    background-color: rgba(47, 48, 58, 0.4);
    text-align: center;
    
    padding: 200px 452px;
    max-width: 1600px;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/hero-bgc.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }

.hero-title {
    margin-bottom: 30px;
    color: var(--primary-bcg-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
} 

/* Button */

.button-studio {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    color: var(--primary-bcg-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    cursor: pointer;
}

.button-studio:hover,
.button-studio:focus {
    background-color: #188CE8;;
}

/* Преимущества */
.section.advantage .section-title {
    display: none;
}

.advantage-list {
    display: flex;
}

.advantage-list .item {
    margin-right: 30px;
}

.advantage-list .item:last-child {
    margin-right: 0;
}

.advantage-img {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 100px;
    padding-left: 100px;
    margin-top: 0;
    margin-bottom: 30px;
    background-color: var(--tertiary-bck-color);
    border-radius: 4px;
}

.advantage-icon {
    width: 70px;
    height: 70px;
} 

.advantage-list .subtitle {
    margin-bottom: 10px;

    color: var(--title-tex-color);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.advantage-list .text {
    line-height: 1.71;
}
/* Услуги */

.service-list {
    display: flex;
}

.service-list .item {
    margin-right: 30px;
}

.service-list .item:last-child {
    margin-right: 0;
}

/* Наша Команда */

.team {
    background-color: var(--tertiary-bck-color);
}

.team-list {
    display: flex;
}

.team-list .item {
    margin-right: 30px;
}

.team-list .item:last-child {
    margin-right: 0;
}

.team-card {
    display: inline-block;
    background: #FFFFFF;
    max-width: 370px;
    max-height: auto;
    margin-bottom: 0;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    /* outline: 4px solid blueviolet; */
}

.team-card.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.team-title {
    color: var(--title-tex-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;

    margin: 30px 0 10px;
}

.team-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    margin-bottom: 16px;
}

.team-soc {
    display: flex;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 30px;
}

.social-icon {
    display: flex;
    width: 44px;
    height: 44px;
    padding: 12px;
    color: var(--icon-fill-color);
    border-radius: 50%;

    /* outline: 2px solid blueviolet; */
}

.social-icon:not(:last-child) {
    margin-right: 10px;
}

.social-icon:hover,
.social-icon:focus {
    background-color: var(--accent-color);
    color: var(--primary-bcg-color);
}

.instagram {
    fill: currentColor;
}

.twitter {
    fill: currentColor;
}

.facebook {
    fill: currentColor;
}

.linkedin {
    fill: currentColor;
}

/* Постоянные клиенты */

.clients-list {
    display: flex;
}

.clients-item {
    display: flex;
}

.clients-company {
    display: flex;
    padding: 16px 32px;
    width: 170px;
    height: 92px;
    color: var(--icon-fill-color);
    border: 1px solid var(--icon-fill-color);
    border-radius: 4px;
}

.clients-icon {
    fill: currentColor;
}

.clients-item:not(:last-child) {
    margin-right: 30px;
}

.clients-company:hover,
.clients-company:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
    
}

/* footer */

/* logo */

.footer {
    background-color: var(--secondary-bcg-color);
}

.footer-thumb {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
}

.adress-thumb {
    display: block;
    
}

.footer .logo {
    color: var(--primary-bcg-color);

    display: inline-block;
    margin-top: 0;
    margin-bottom: 20px;
}

.adress-list.list{
    font-style: normal;
    display: inline-block;
    
    /* outline: 4px solid blueviolet; */
}

.street {
    color:var(--primary-bcg-color);
    line-height: 1.71;
    margin-left: 0;
}

.adress-list .contact {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    line-height: 1.71;

    margin-top: 9px;
}

.join-thumb {
    display: block;
    align-items: center;
    
    margin-right: auto;
}

.join-title {
    color: var(--primary-bcg-color);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-soc {
    display: flex;
}

.footer-icon {
    display: flex;
    padding: 12px;
    width: 44px;
    height: 44px;
    color: var(--primary-bcg-color);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    /* outline: 2px solid blueviolet; */
}

.footer-icon:not(:last-child) {
    margin-right: 10px;
}

.footer-icon:hover,
.footer-icon:focus {
    background-color: var(--accent-color);
}

/* Main portfolio.html */

/* Filters */
.filters-title {
    color: var(--title-tex-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    display: none;
}

.filters-list {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    text-align: center;
}

.filters-list .item {
    margin-right: 8px;
    display: inline-block;
}

.filters-list .item:last-child {
    margin-right: 0;
}

.filters-list .link {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 4px;

    color: var(--title-tex-color);
    background-color: var(--tertiary-bck-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;
    /* outline: 4px solid blueviolet; */
} 

.filters-list .link:hover,
.filters-list .link:focus {
    color: var(--primary-bcg-color);
    background-color: var(--accent-color);
}

.filters-list .link.current {
    color: var(--primary-bcg-color);
    background-color: var(--accent-color);
}


/* Projects */
.project-list {
    display: flex;
    flex-wrap: wrap;
}

.project-list .item {
    margin-right: 30px;
    margin-bottom: 30px;
}

.project-list .item:nth-child(3n) {
    margin-right: 0;
}

.project-list .item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.project-card {
    display: inline-block;
    max-width: 370px;
    max-height: auto;
    margin-bottom: 0px;
    /* outline: 4px solid blueviolet; */
}

.project-card:hover,
.project-card:focus {
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-card .card-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.project-title {
    color: var(--title-tex-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    padding: 20px 24px 4px;
}

.project-text {
    font-size: 16px;
    line-height: 1.88;

    padding: 0 24px 20px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

